* {
  font-family: "Handjet", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: linear-gradient(
   #000 7%,
   #a01fff,
   #000 99%
   ) no-repeat;
  min-height: 100vh;
}

header {
  background-color: #000;
  width: auto;
  min-height: 5rem;
  color: #a01fff;
}
.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.time-h1 {
  font-size: 3.5rem;
  text-shadow: 3px 0 #001169;
  margin-top: 1rem;
  border-bottom: 2px solid #a01fff;
}

.right-panel{
  display: flex;
  position: fixed;
  flex-direction:column;
  align-items: center;
  width: 200px;
  height: 100vh;
  right: 0;
  top: 0;
  padding: 20px;
  background-color: #0E0315;
  border: 2px solid #a01fff;
  border-radius: 0.7rem 0% 0% 0.7rem;
}
.navbur a {
  color: #38C5DC;
  text-shadow: 1px 1px #9913ff;

}
li::before {
  color: #9000ff;
  content: "☞ ";
}
ul {
  list-style: none;
}
li {
  position: relative;
  top: 0.5rem;
  font-size: 2.5rem;
}
li:hover {
  text-shadow: 1px 1px #ffffff;
  transition: 0.3s;
}
.imgas {
  border: 2px solid #819EDF;
  box-shadow:0px 0px 15px #9913ff;
  border-radius: 0.5rem;
  width: 9.9vw;
  height: auto;
}
.my-profils-h3 {
  position: relative;
  top: 1rem;
  color:#51C9FB;
  font-size: 2.5rem;
}
.my-profils-a {
  position: relative;
  align-self: flex-start; 
  top: 1rem;
  font-size: 2rem;
  color: #99effc;
  text-shadow: 1px 1px #057781;
}
.my-profils-a::before {
  color: #9000ff;
  content: "☞ ";
}
.my-profils-a:hover {
  border-right: 4px solid #fff;
    transition: all 0.3s ease;
}

.left-panel {
  display: flex;
  position: fixed;
  flex-direction:column;
  align-items: center;
  width: 200px;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 20px;
  background-color: #0E0315;
  border: 2px solid #a01fff;
  border-radius:0% 0.7rem 0.7rem 0%;
}
.map {
  width: 10vw;
  height: 17vh;
  border: 2px solid #819EDF;
  box-shadow:0px 0px 15px #9913ff;
  border-radius: 0.5rem;
  overflow-x:auto;
  overflow-y: auto;
}
.p-map {
  color: #a5dbf2;
  text-shadow: 3px 0 #001789;
  font-size: 2.5rem;
}
.p-map::before {
  content: "☝";
  color: #9000ff;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 220px; 
}
.my-about {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 820px;
  background-color: #13041F;
  color: #fff;
  box-shadow:0px 0px 30px #9000ff;
  border: 2px solid #a01fff;
  border-radius: 0.7rem;
  text-align: center;
  padding: 30px;
  animation: fadeIn 1s ease;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.about-h2 {
  font-size: 3rem;
}
.about-p {
  font-size: 1.7rem;
}

.hrs {
  position: relative;
  top: 10px;
  width: 10vw;
  color: #A01FFF;
}
.hrs[class~=hr-x] {
  position: relative;
  top: 1.5rem;
  width: 10vw;
  color: #A01FFF;
}

@media (max-width: 1080px) {
  
  html, body {
    overflow-x: auto;
    min-width: 100vw; 
  }

  body {
    background: linear-gradient(
    #000 10vh,
    #a01fff,
    #000 99%
    ) no-repeat !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    overflow-x: hidden !important;
    overflow-y:hidden;
    position: relative;
  }

  header {
    display: flex;
    justify-content: center;
  }

  .time-h1 {
    font-size: 2rem;
  }

  .about {
    display: flex;
    justify-content: center !important;
  }

  .my-about {
    width: 52vw;
    height: 70vh;
  }
  
  .right-panel {
    width: 15vw;
  }
  
  .imgas {
    width: 15vw;
  }

  hr {
    width: 14.5vw;
  }
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
  }

  .time-h1 {
    font-size: 2rem;
  }

  .my-about {
    width: 90%;
  }
  
  .right-panel {
    width: 120px;
  }
  
  .imgas {
    width: 25vw;
  }
}

@media (max-width: 480px) {
  .time-h1 {
    font-size: 1.5rem;
  }

  .my-about {
    width: 95%;
    top: 20px;
  }

  .right-panel {
    display: none;
  }
}

